@import 'reset';

.header {
    background: #333;
    padding: 0 1rem;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
    color: #fff;
    ul {
        display: flex;
        li {
            padding-left: 1rem;
        }
    }
}

.container {   
    margin: 0 auto;
    max-width: 1000px;
    padding: 1rem 1rem 0;
    text-align: center;

    h2 {
        font-size: 1.875rem;
    }
}

.form {
    margin: 3.125rem auto 0;
    max-width: 25rem;
    .form-item {
        margin-bottom: 1.5625rem;
        label {
            display: block;
            margin-bottom: .625rem;
        }
        input {
            width: 100%;
            padding: .5rem;
            border: 1px solid #333;
        }
    }
    input[type=submit] {
        padding: 1rem;
        border-radius: .625rem;
        border: 1px solid #096fc8;
        background: #096fc8;
        width: 100%;
        text-align: center;
        color: #fff;
        &:hover {
            transition: background-color 0.3s ease;
            background: #fff;
            color: #096fc8;
        }
    }
}

.error-msg {
    background-color: #f8d7da;
    border-radius: .625rem;
    border-color: #f5c6cb;
    color: #721c24;
    margin: 1rem 0;
    padding: .75rem 1.25rem;

    p {
        line-height: 1.5;
    }
}