<div class="register">
    <div class="register-inner">
        <div class="form register-form">
            <% const errorMsgs = locals.errorMsg || {} %>
            <% if ( locals.errorMsg ) { %>
                <% errorMsgs.forEach( errorMsg => { %>
                    <%= errorMsg %>
                <% }); %>
            <% } %>
            <% const currentUser = locals.currentUser || {} %>
            <form action="/users/create" method="post">
                <div class="form-item">
                    <label>name</label>
                    <input type="text" name="username" value="<% currentUser.username %>">
                </div>
                <div class="form-item">
                    <label>email</label>
                    <input type="email" name="email" value="<% currentUser.email %>">
                </div>
                <div class="form-item">
                    <label>password</label>
                    <input type="password" name="password" value="<% currentUser.password %>">
                </div>
                <div class="form-item">
                    <label>password confirm</label>
                    <input type="password" name="passwordConfirmation">
                </div>
                <input type="submit" value="register">
            </form>
        </div>
    </div>
</div>